In [2]:
import pandas as pd

test_texts = pd.read_csv('../../FakeNewsNetCSV/test_texts.csv')
test_texts

                                                   text  label
0     Yes, Feb. 9 — the same day that White House co...      1
1     Brie Bella, WWE wrestler and star of both Tota...      0
2     He's been focusing on his family life in the w...      0
3     Maksim Chmerkovskiy, Peta Murgatroyd and their...      0
4     KATIE Holmes and Jamie Foxx have split just mo...      1
...                                                 ...    ...
1396  GETT Brad Pitt and Jennifer Aniston film plans...      1
1397      The feud continues. Farrah Abraham reveale...      0
1398  Check out our Avengers: Infinity War premiere ...      0
1399  According to a new promotional video, a feud i...      0
1400  Fans of the royal family have been eager to di...      0

[1401 rows x 2 columns]

In [3]:
train_texts = pd.read_csv('../../FakeNewsNetCSV/train_texts.csv')
train_texts

                                                   text  label
0     Weeks after Anwar Hadid split from long-term g...      1
1     Dr. Calliope Iphegenia "Callie" Torres  attend...      0
2     Your life just got exponentially better and mo...      0
3     Jenelle Evans couldn’t help but get emotional ...      0
4     Gold Digger review – the twisty toyboy thrille...      0
...                                                 ...    ...
4476  Reese Witherspoon has found herself embroiled ...      0
4477  Kanye West 'Touchy Feely' With Candace Owens A...      1
4478  She's never shied away from talking about her ...      0
4479  Targalski was speaking with a journalist from ...      0
4480  Evan Bass and Carly Waddell can't wait to meet...      0

[4481 rows x 2 columns]

In [4]:
val_texts = pd.read_csv('../../FakeNewsNetCSV/val_texts.csv')
val_texts

                                                   text  label
0     "Fixer Upper" fans, mark your calendars for No...      0
1     There have been plenty of celebrity breakups r...      1
2     I don’t know about you, but in the summer the ...      0
3     Gwen Stefani and Blake Shelton returned to TV ...      1
4     Abigail Breslin and Colt Prattes as Baby and J...      0
...                                                 ...    ...
1116  When This Is Us heartthrob Justin Hartley marr...      0
1117  Poor Alexis Olympia … and poor mama!  First-ti...      0
1118  Brad Pitt will be allowed to spend more time w...      1
1119  Hollywood's most adorable celebrity lovebirds ...      0
1120  Looks like Kendall Jenner has a new admirer. I...      1

[1121 rows x 2 columns]