In [2]:
import pandas as pd
ds = pd.read_csv('../../CSVs/dataset_predictionsInt.csv', sep='§')
ds

C:\Users\gabre\AppData\Local\Temp\ipykernel_10012\1540664141.py:2: ParserWarning: Falling back to the 'python' engine because the separator encoded in utf-8 is > 1 char long, and the 'c' engine does not support such separators; you can avoid this warning by specifying engine='python'.
  ds = pd.read_csv('../../CSVs/dataset_predictionsInt.csv', sep='§')

,text,predictionsMLPC,predictionsSVC,predictionsRFC,label
0,"""Former Florida Gators quarterback Tim Tebow w...",0,0,0,0.0
1,Florida Gators quarterback Tim Tebow waves as ...,0,0,0,0.0
2,Gators quarterback Tim Tebow waves as he stand...,0,0,0,0.0
3,quarterback Tim Tebow waves as he stands on th...,0,0,0,0.0
4,Tim Tebow waves as he stands on the sidelines ...,0,0,0,0.0
...,...,...,...,...,...
3773409,"is left after its expiration."" ""The Islamic St...",0,0,0,0.0
3773410,"left after its expiration."" ""The Islamic State...",0,0,0,0.0
3773411,"after its expiration."" ""The Islamic States rec...",0,0,0,0.0
3773412,"its expiration."" ""The Islamic States recent se...",0,0,0,0.0
3773413,"expiration."" ""The Islamic States recent setbac...",0,0,0,0.0

In [3]:
ds.query('predictionsMLPC != label')

,text,predictionsMLPC,predictionsSVC,predictionsRFC,label
15597,"19, 2016 UPDATE: MAY 19, I p.m. ET: White and ...",1,0,0,0.0
15623,"plane, Greek authorities confirmed Thursday. ""...",1,0,0,0.0
15640,that it was contacted by Greek authorities who...,1,0,0,0.0
15648,signalled that they found white and blue debri...,1,0,0,0.0
15649,that they found white and blue debris correspo...,1,0,0,0.0
...,...,...,...,...,...
3767984,the same credulity about the emerging Syrian c...,1,0,0,0.0
3767985,same credulity about the emerging Syrian crisi...,1,0,0,0.0
3767986,credulity about the emerging Syrian crisis. So...,1,0,0,0.0
3767987,about the emerging Syrian crisis. Some deeply ...,1,0,0,0.0
3767988,the emerging Syrian crisis. Some deeply troubl...,1,0,0,0.0

In [4]:
ds.query('predictionsSVC != label')

,text,predictionsMLPC,predictionsSVC,predictionsRFC,label
12924,that it claimed was violating Turkish airspace...,0,1,0,0.0
12925,"it claimed was violating Turkish airspace, whi...",0,1,0,0.0
16668,"October, the Islamic State group claimed respo...",0,1,0,0.0
16669,the Islamic State group claimed responsibility...,0,1,0,0.0
16670,Islamic State group claimed responsibility for...,0,1,0,0.0
...,...,...,...,...,...
3764873,"senior figures of the regime,"""" Clinton said a...",0,1,0,0.0
3764874,"figures of the regime,"""" Clinton said at the m...",0,1,0,0.0
3764875,"of the regime,"""" Clinton said at the meeting. ...",0,1,0,0.0
3764876,"the regime,"""" Clinton said at the meeting. The...",0,1,0,0.0
3764877,"regime,"""" Clinton said at the meeting. The sec...",0,1,0,0.0

In [5]:
ds.query('predictionsRFC != label')

,text,predictionsMLPC,predictionsSVC,predictionsRFC,label
112077,"get called a racist all that much (unless, of ...",1,0,1,0.0
112078,"called a racist all that much (unless, of cour...",1,0,1,0.0
112079,"a racist all that much (unless, of course, I'm...",1,0,1,0.0
112080,"racist all that much (unless, of course, I'm s...",1,0,1,0.0
112081,"all that much (unless, of course, I'm speaking...",1,0,1,0.0
...,...,...,...,...,...
3699455,"as they like, and they dont even have to pay f...",0,0,1,0.0
3699456,"they like, and they dont even have to pay for ...",0,0,1,0.0
3699457,"like, and they dont even have to pay for the c...",0,0,1,0.0
3699458,and they dont even have to pay for the clean-u...,0,0,1,0.0
3699459,they dont even have to pay for the clean-up. T...,0,0,1,0.0