In [5]:
import pandas as pd

ds = pd.read_csv('../CSVs/dataset_predictionsInt.csv',
                 sep='§', nrows=100000, engine='python')

ds

                                                    text  prediction  label
0      "Former Florida Gators quarterback Tim Tebow w...         0.0    0.0
1      Florida Gators quarterback Tim Tebow waves as ...         0.0    0.0
2      Gators quarterback Tim Tebow waves as he stand...         0.0    0.0
3      quarterback Tim Tebow waves as he stands on th...         0.0    0.0
4      Tim Tebow waves as he stands on the sidelines ...         0.0    0.0
...                                                  ...         ...    ...
99995  there were around 70 clubbers by 7a.m. The uni...         0.0    0.0
99996  were around 70 clubbers by 7a.m. The uniquenes...         0.0    0.0
99997  around 70 clubbers by 7a.m. The uniqueness of ...         0.0    0.0
99998  70 clubbers by 7a.m. The uniqueness of this cl...         0.0    0.0
99999  clubbers by 7a.m. The uniqueness of this club ...         0.0    0.0

[100000 rows x 3 columns]

In [6]:
ds.query('prediction != label')

                                                    text  prediction  label
16247  Egyptair Airbus 320, which disappeared from ra...         1.0    0.0
16248  Airbus 320, which disappeared from radar over ...         1.0    0.0
16249  320, which disappeared from radar over the Med...         1.0    0.0
16250  which disappeared from radar over the Mediterr...         1.0    0.0
16251  disappeared from radar over the Mediterranean ...         1.0    0.0
...                                                  ...         ...    ...
38461  shame, degradation, and bondage. Of feeling li...         1.0    0.0
38462  degradation, and bondage. Of feeling like prop...         1.0    0.0
38463  and bondage. Of feeling like property and bein...         1.0    0.0
38464  bondage. Of feeling like property and being ow...         1.0    0.0
41432  president. Here's how. 1. Beat Hillary Step on...         1.0    0.0

[409 rows x 3 columns]

In [ ]:
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import train_test_split